<template>
    <form method="GET" ref="form">
      <div class="form-group">
        <label for="filter_firstname">First Name</label>
        <input type="text" class="form-control" name="firstname" id="filter_firstname" placeholder="e.g. John" v-model="firstname">
      </div>
      <div class="form-group">
        <label for="filter_surname">Surname</label>
        <input type="text" class="form-control" name="surname" id="filter_surname" placeholder="e.g. Smith" v-model="surname">
      </div>
      <div class="form-group">
        <label for="filter_email">Email</label>
        <input type="email" class="form-control" name="email" id="filter_email" placeholder="e.g. john@intellipharm.com.au" v-model="email">
      </div>
      <button type="submit" class="btn btn-primary mb-3">Update Filters</button>
      <button class="btn btn-danger mb-3" @click="clearFilters()">Clear Filters</button>
    </form>
</template>

<script>
export default {
    props: ['last_input'],
    data: function() {
        return {
            firstname: this.last_input ? this.last_input.firstname : "",
            surname: this.last_input ? this.last_input.surname : "",
            email: this.last_input ? this.last_input.email : "",
        }
    },
    methods: {
        clearFilters() {
            this.firstname = "";
            this.surname = "";
            this.email = "";
            this.$refs.form.submit();
        }
    }
}
</script>
